@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e9e9df;
  font-family: "Istok Web", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

h5 {
  font-family: "RocknRoll One", sans-serif !important;
}


section {
  padding: 60px 0px;
}
